{% extends 'template.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}
<h1>Records.</h1>

{% if records %}
    {% for record in records%}
        {{record.id}} 
        {{record.first_name}}
        {{record.last_name}} 
        {{record.email}} 
        {{record.phone}}  
        {{record.address}}
        {{record.city}}  
        {{record.province}} 
        {{record.zipcode}} 
        {{record.created_at}} 
        <br>
    {% endfor %}
{% endif %}

{% else %}
<form method="POST" action="{% url 'home' %}">
    <h1>Login</h1>
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="password" required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</form>

</div>

{% endif %}

{% endblock %}